.faqs-section{
    background-color: #f7f7f7;
    height:560px;
}
.fac-tit-cc{
    font-weight: 500;
    font-size: 120%;
    text-transform:lowercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align:center;
    margin-bottom: 0px;
    color: rgb(51, 110, 148); 
}
.fac-tit-cc:after{
    display: block;
    height:2px;
    background-color:#434340;
    content:' ';
    width:0px;
    margin:0 auto;
    margin-top:0px;
}
.btn-center{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    width:90%;
    justify-content: center;
    text-align: center;
    
}
.btn-show{
   
    color:white;
    padding: 4px 0px;
    margin-right: 30px;
    font-family: 'roboto';
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    width:250px;
}
.btn-show:last-child{
   
    color:white;
/*    padding: 2px 30px;*/
    margin-right: 0px;
    font-family: 'roboto';
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.btn-show:last-child:hover{
    background: rgb(51, 110, 148);
    color:white;
/*    padding: 2px 30px;*/
    margin-right: 0px;
    font-family: 'roboto';
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.btn-show:hover{
    background: rgb(51, 110, 148);
    color:white;
/*    padding: 2px 30px;*/
    margin-right: 30px;
    font-family: 'roboto';
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#btn-show-first{
    background:rgb(51, 110, 148);
}
#btn-show-mid{
    background: #555;
}
#btn-show-last{
    background: #555;
}
.content-box{
    width: 71.3%;
    height:auto;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
}
#box-1{
    display: block;
    transition: .4s;
}
#box-2{
    display: none;
    transition: .4s;
}
#box-3{
    display: none;
    transition: .4s;
}
.q-section{
    height:620px;
}
.box-q{
    padding: 30px;
}
.q-btn{
    width:100%;
    background: #555;
    color:white;
    padding: 10px;
    font-family: "Pacifico";
    border-top: 2px solid white;
    cursor: pointer;
}
.q-cont{
    padding: 20px;
    height: auto;
    background:#f7f7f7;
    transition: 1s;
}
#q-1{
    display:block;
    transition: 1s;
}
#q-2{
    display: none;
    transition: 1s;
}
#q-3{
    display: none;
    transition: 1s;
}
#q-4{
    display: none;
    transition: 1s;
}
.q-img{
    width:75%;
    height: 400px;
}
.q-img-box{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}
